@font-face {
    font-family: 'chatype_boldbold';
    src: url('../fonts/chatypebold/chatypebold-webfont.eot');
    src: url('../fonts/chatypebold/chatypebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chatypebold/chatypebold-webfont.woff2') format('woff2'),
         url('../fonts/chatypebold/chatypebold-webfont.woff') format('woff'),
         url('../fonts/chatypebold/chatypebold-webfont.ttf') format('truetype'),
         url('../fonts/chatypebold/chatypebold-webfont.svg#chatype_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
