{% include header.html %}

		<div class="container_seperator">
			<div class="wrap_content breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				{%if site.url == "https://tortoisegit.org" %}
				<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">TortoiseGit.org</span></a><meta itemprop="position" content="0"></span>
				{% else %}
				<a href="//tortoisegit.org/">TortoiseGit.org</a> | <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">download.tortoisegit.org</span></a><meta itemprop="position" content="0"></span>
				{% endif %}
				{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
				{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
				{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
				{% capture next_prepender %}{% endcapture %}
				{% for i in (1..forLoopMaxInt) %}
					{% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
					{% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
					{% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
					{% for breadcrumb_page in site.pages %}
						{% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url %}
							{% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
								&raquo;
								{% assign j = forLoopMaxInt | plus: 0 %}
								{% if i == j %}
								{{breadcrumb_page.title}}
								{% else %}
								<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a href="{{breadcrumb_page_page_url_without_index_html}}" itemprop="item"><span itemprop="name">{{breadcrumb_page.title}}</span></a>
								<meta itemprop="position" content="{{i}}">
								</span>
								{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</div>

{{ content }}

{% include footer.html %}
